<div>
    <h1>Productos</h1>
    
    <div>
        {{#each this.products.docs}}
        <div>
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <p>{{this.code}}</p>
            <p>{{this.price}}</p>
            <p>{{this.stock}}</p>
            <p>{{this.category}}</p>
            <p>{{this.thumbnail}}</p>
            <p>{{this.status}}</p>
            <p>{{this.id}}</p>
            <button id={{this.id}}>Agregar al carrito</button>
            <br><br><br>
        </div>
        {{/each}}
        
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>