<div>
    <h1>Productos</h1>

    <div id="saludo">Hola, {{user.nombre}} estos son los productos disponibles</div><br>

    <div> <a href="/cart/{{user.cart}}">Carrito</a></div>

    {{#if user.rol}}
    <div>Iniciaste sesion como {{user.rol}}</div>

    <br>

    <button id="logout" onclick="logout()">Cerrar sesion</button>
    {{else}}
    <div>Bienvenido,todavia no iniciaste sesion</div>

    <br>

    <button> <a href="/login"></a>Iniciar sesion</button>
    {{/if}}

    <div>
        {{#each this.products}}
        <div>
            <p>Producto: {{this.title}}</p>
            <p>Descripcion: {{this.description}}</p>
            <p>Codigo:{{this.code}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoria: {{this.category}}</p>
            <p>Id: {{this.id}}</p>
            <button onclick="agregarAlCarrito(`{{this.id}}`,`{{../user.cart}}`)">Agregar al carrito</button>
            <br><br><br>
            {{/each}}

        </div>

    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>